@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
}
body {
  @apply !min-w-full;
}

body,
nav {
  font-family: 'Open Sans', sans-serif;
  background: radial-gradient(
    circle,
    hsla(var(--accent), 1) 0%,
    /* Lighter color at the center */ hsla(var(--background), 1) 100%
      /* Original background at the edges */
  );
  background-attachment: fixed; /* Keep the gradient smooth during scrolling */
  background-repeat: no-repeat; /* Prevent tiling */
  background-size: cover; /* Ensure the gradient covers the full screen */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
}

/* #__next {
  @apply h-full;
  overflow-y: scroll;
} */

@layer components {
  .container {
    @apply mx-auto sm:w-full max-w-screen-2xl  md:px-10;
  }
}

:root {
  --background: 182, 70%, 70%; /* Original pale mint green */

  --background-light: 165, 50%, 95%; /* Lighter version of the background */

  --foreground: 150, 9%, 15%; /* Dark greenish-gray text */

  --primary: 12, 81%, 48%; /* Vibrant Red-Orange */
  --primary-foreground: 0, 0%, 100%; /* White text on primary */

  --secondary: 35, 38%, 62%; /* Muted warm beige */
  --secondary-foreground: 150, 9%, 15%; /* Dark greenish-gray text */

  --muted: 200, 17%, 85%; /* Light muted gray */
  --muted-foreground: 150, 10%, 25%; /* Slightly darker muted text */

  --accent: 165, 80%, 95%; /* Lighter Teal */
  --accent-foreground: 0, 0%, 98%; /* Light text on accent */

  --destructive: 2, 100%, 39%; /* Vivid red */
  --destructive-foreground: 254, 100%, 95%; /* Off-white text on destructive */

  --border: 150, 9%, 30%; /* Darker muted green-gray border */
  --input: 200, 20%, 90%; /* Light input background */

  --ring: 180, 40%, 50%; /* Vibrant Teal Ring Effect */
  --radius: 0.5rem;

  --goldish: 45, 100%, 31%;

  --beige: 30, 44%, 69%; /* light beige*/
  --peach: 32, 100%, 79%; /*peach */
  --cyan: 180, 70%, 60%; /* Bright Cyan */
  --teal: 174, 75%, 50%; /* Vibrant Teal */
}

.dark {
  --background: 150, 10%, 10%; /* Deep dark greenish-gray background */

  --background-light: 150, 10%, 20%; /* Slightly lighter version for center */

  --foreground: 33, 38%, 88%; /* Light beige text */

  --primary: 12, 81%, 48%; /* Vibrant Red-Orange */
  --primary-foreground: 0, 0%, 100%; /* White text on primary */

  --secondary: 8, 15%, 25%; /* Dark muted red */
  --secondary-foreground: 33, 38%, 88%; /* Light beige text */

  --muted: 200, 15%, 18%; /* Dark muted gray */
  --muted-foreground: 200, 30%, 85%; /* Slightly lighter muted text */

  --accent: 182, 70%, 23%; /* Teal */
  --accent-foreground: 0, 0%, 98%; /* Light text on accent */

  --destructive: 2, 100%, 39%; /* Vivid red */
  --destructive-foreground: 265, 10%, 98%; /* Light text on destructive */

  --border: 150, 9%, 15%; /* Dark greenish-gray border */
  --input: 150, 10%, 20%; /* Dark input background */

  --goldish: 45, 100%, 31%;

  --ring: 180, 70%, 50%; /* Bright Cyan Ring Effect */
  --radius: 0.5rem;
  --beige: 30, 44%, 69%; /* light beige*/
  --peach: 32, 100%, 79%; /*peach */
  --cyan: 180, 70%, 60%; /* Bright Cyan */
  --teal: 174, 75%, 50%; /* Vibrant Teal */
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
